main{
    height: 100vh;
    background-image: linear-gradient(to right top, blue,green,yellow,pink);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

div{
    
    box-shadow: 1px 1px 15px 2px black;
    border: 1px solid rgb(158, 243, 1);
    max-width: 500px;
    height: auto;
    padding: 100px;
    margin-inline-start: 80px;
    background-color: rgb(30, 173, 142);

}
#heading{
    
    text-transform: capitalize;
    box-shadow: 1px 2px 10px white;
}
label{
    display: block;
    margin-top: 30px;
    padding-bottom: 0px;}

button{
    box-shadow: 2px 2px 15px 2px rgb(187, 25, 25);
    padding: 10px 10px;
    margin-top: 10px;
    text-transform: capitalize;
    border-radius: 10px;

}
input{
    width:400px;
    padding:2px 0px;
} 
